/* app.css */

/* h1 {
    color: var(--accentColor);
} */
.app {
    display: flex;
    min-height: 100vh;
}

.app-main{
    background-color: hsl(0, 0%, 96%);
}
.app-nav {
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 80%);
    width: 10em;
}

.app-nav--show {
    display: flex;
    width: 2.6em;
    align-items: center;
    display: none;
}

.app-main-header {
    height: 5em;
    padding: 0 var(--gutter);
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, .075);
    border-top: 1px solid black;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    position: fixed;
    z-index: 20;
    background-color: hsl(0, 0%, 100%);
    width: calc(100% - 19em);
}

.app-main-header-title {
    color: #999;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    white-space: nowrap;
    word-spacing: 0.2em;
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.095);
}

.app-main-header-title--emphasis {
    color: var(--accentColor);
}

.app-main-header-links {
    display: flex;
    align-items: center;
}

.app-main-header-link {
    text-decoration: none;
    margin-left: 1.25em;
}
.app-content {
    padding: 1.5em;
}

.footer {
    background-color: hsl(0, 0%, 23%);
}

.product-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}