
.btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    padding: .375rem .75rem;
}


.btn-hero {
    background-image: linear-gradient(
        90deg, 
        rgb(0, 225, 0) 5%, 
        #1ecd05 17%, 
        rgb(4, 176, 44) 40%, 
        rgb(2, 129, 27) 85%, 
        rgb(2, 106, 30) 95% 
        );
    color: white;
    border-radius: 5%;
    padding: .5em 1em;
    background-size: 200%;
    background-position: left;
    transition: background-position 350ms;

}

.btn-hero:hover {
    background-position: right;
}

.button {
    background-color: hsla(0, 0%, 0%, .1);
    border: 1px solid transparent;
    
    text-decoration: none;
    color: white;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    transition: background .2s cubic-bezier(0.075, 0.82, 0.165, 1), opacity .2s cubic-bezier(0.19, 1, 0.22, 1), transform .2s ease-in;

}

.button:hover {
    background-color: hsla(0, 0%, 0%, .6);
    opacity: .8;
    transform: scale(1.2);
}