.product-container {

}

.card {
    background-color: white;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    border-radius: 4px;
    min-width: 0;
    overflow: hidden;
    padding: 1em;
    position: relative;

}

.card .card-figure {
    width:100%;
    min-width: 0;
}

.card .card-body {
    min-width: 0;
}

.card-title {
    font-weight: 600;
    font-size: 1.4em;
    margin: 0 0 calc(.75em / 1.4);
}

.card::before {
    background-color: red;
    color: white;
    content: "New";
    font-size: .8em;
    font-weight: 700;
    position: absolute;
    top: 1.2em;
    right: 1.1em;
    width: 6em;
    text-align: center;
}

