.card {
    background-color: white;
    font-weight: 500;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    position: relative;
    border-radius: 4px;
    display: flex;
    padding: 1em;
    overflow: hidden;
    flex-flow: column;
    min-width: 0;

    & .card-figure {
        width: 100%;
        min-width: 0;
        margin-bottom: 1em;
        /* flex: 1; */
    }

    & .card-body {
        /* max-width: 0; */
        /* flex: 1; */
    }

}

.card:hover {
    /* transform: scale(1.2); */
    box-shadow: 2px 2px 2px 1px hsla(0, 0%, 0%, 0.1);
}

.catalog h2 {
    background-color: white;
    font-weight: 500;
    font-size: 1.4em;
    border: 1px solid hsla(0, 0%, 0%, 0.1);
    

}

.card-title {
    font-size: 1.1rem;
    margin: 0 0 calc(.75em / 1.4);
}

@media (min-width: 410px) {
    .card {
        flex-flow: row;
    }
    .card-figure {
        border-right: 1px solid #eee;
        margin-right: 1em;
        margin-bottom: 0;
        min-width: 0;
        padding-right: 1em;
    }
}

@media (min-width: 490px) {
    .card {
        flex-direction: row;
        flex-wrap: wrap;
    }
}


.card-wrapper::before {
    background-color: red;
    color: white;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .1em;
    position: absolute;
    width: 6em;
    content: "Action";
    right: 0.5em;
    top: 1.5em;
    z-index: 10;
    text-align: center;
}