.cart-container {
    display: grid;
    grid-template-columns: auto 16rem;
    gap: 1rem;
}

.sidebar {
    border-left: 1px dotted black;
    margin: 0;
}

.sidebar h3 {
    padding: 0 1rem;
    text-transform: uppercase;
}

.sidebar .card ul {
    list-style: none;
    padding-right: 1rem;
}

.sidebar .card li {
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.sidebar .card li:last-child {
    border-top: 1px solid red;
}


.table {
    width: 100%;
    text-align: start;
    border-collapse: collapse;
}

.table thead {
    background-color: hsl(0, 0%, 80%);
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table td {
    padding: .5rem 1rem;
}
.table th {
    text-align: center;
    padding: .5rem;
}
.table td .remove {
    width: 28px;
    height: 28px;
    padding: 6px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    color: red;
    font-weight: 600;

}

.price {
    color: var(--accentColorMuted);
}