.cart-container {
    display: flex;
    gap: 1rem;
}

.sidebar {
    padding: .5rem;
    flex: 1;
}

.main {
    padding: .5rem;
    flex: 3;
}

.table {
    width: 100%;
    text-align: start;
    border-collapse: collapse;
}

.table thead {
    background-color: hsla(0, 0%, 0%, 0.075);
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}