.cart-container {
    display: flex;
}

.table {
    width: 100%;
    text-align: start;
    border-collapse: collapse;
}

.table thead {
    background-color: hsl(0, 0%, 80%);
}

.table tr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table td .remove {
    width: 28px;
    height: 28px;
    padding: 6px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 8px;
    color: red;
    font-weight: 600;

}

.price {
    color: var(--accentColorMuted);
}