/* common */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');


* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --navColor: hsl(0, 0%, 90%);
    --textColor: hsl(0, 0%, 25%);
    --muteColor: hsl(0, 0%, 90%);

    --bgColor: hsl(0, 0%, 23%);
    --accentCollor: hsl(300, 50%, 50%);



}

body {
    /* font-family: Roboto, Times, serif;
    font-size: .85rem; */
    font: 1em / 1.5 system-ui;
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    color: var(--textColor);
}

a {
    text-decoration: none;
}

h1 {
    font-size: calc(1.1rem + 1.14vw);
    font-weight: 600;
    text-transform: uppercase;
    word-spacing: .2em;
    letter-spacing: .1em;
    text-shadow: 1px 2px hsla(0 0% 0% / 0.08);
}

img {
    display: block;
}

.py-4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.unstyled {
    list-style: none;
    padding: 0;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}