/* Common Styles */

:root {
    --mainTextColor: darkslategray;

        --linkColor : rgba(9, 89, 9, .7);
        --navColor : hsl(0, 0%, 90%);
        --textColor : hsl(0, 0%, 25%);
        --muteColor : hsl(0, 0%, 95%);
        --bgColor: hsl(0, 0%, 22%);
        --accentColor : hsl(300, 50%, 50%);
}

html {
    background-color: #f0f0f0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

    font-size: 0.875rem; /* == 14/16 */
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    color: var(--mainTextColor);
    min-height: 100vh;
}

a {
    text-decoration: none;
}
a:hover {
    color: var(--preTextColor);
    text-decoration: underline;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-cover {
    background-color : antiquewhite ;
    background-size : cover;
}
.bg-center {
    background-position:top 700;
}
.bg-attachment {
    background-attachment : fixed;
}

.hero {
    color: white;
    text-align: left;
    padding: 4rem 1rem;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: gray;
}

.divider {
    color: white;
    text-align: right;
    padding: 4rem 1rem;
}   

.btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 0.75rem 1.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}   

.picture {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

.picture:hover {
    /* transform: rotate(45deg); */
    transform: scaleX(-1);
    transition: 2s ease-in-out;
    filter: grayscale(40%);

}

.py-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.py-8 {
    padding-top: 4rem;
    padding-bottom: 6rem;
}

.px-4 {
    padding-left: 2rem;
    padding-right: 2rem;
}
