/* contact */

.contact-container {
    /* border: 1px solid red; */
    display: grid;
    gap: 1rem;
    /* grid-template-columns: 3fr 1fr; */
    grid-template-columns: repeat(12, 1fr);
}

.contact-main {
    /* border: 1px solid green; */
    /* padding: 5rem; */
    grid-column: 1 / 9;
}
 
.contact-sidebar {
    /* border: 1px solid blue; */
    grid-column: 9 / 13;
}