/*  */

.footer {
    width: 100%;
    line-height: 1.5;
    color: hsl(0, 0%, 80%);
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer a {
    text-decoration: none;
}
.footer-title {
    padding-right: 2.5rem;
}
.footer-main {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 2.5rem;
}

@media (min-width: 30rem) {
    .footer-main {
        justify-content: space-evenly;
    }
}

.footer-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px solid #777;
}

.footer-social-list a {
    margin: .5rem;
}

.footer-social-list a:hover i {
    color: var(--accentColor);
    /* font-weight: 500; */
    transform: scale(1.4);
} 

.footer-legal {
    padding: .5rem 1rem;
}
.footer-legal-list {
    display: flex;
    justify-content: space-around;
    align-self: stretch;

}