/* Header Styles */

header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    
    font-size: calc(2.45rem + 1.05vw);
    font-weight: 500;
}

@media screen and (min-width: 320px) {
.hero h1 { 
    font-size: calc(.6rem + 8 * ((100vw - 650px) / (768 - 650)));
    }
}


@media screen and (min-width: 450px) {
.hero h1 { 
    font-size: calc(1rem + 16 * ((100vw - 550px) / (768 - 550)));
    }
}

header p {
    margin: 5px 0 0;
    font-size: 1.2em;
    color: beige;
    font-style: oblique 10deg;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3), 4px 4px 8px rgba(0, 0, 0, 0.2);
}