.picture {
    width: 200px;
    height: 200px;
    border: 1px solid red;

}

.picture img{
    display: block;
    width: 100%;
    /* object-fit: contain; */
    /* object-fit: fill; */
    object-fit: cover;
    
}

.image {
    border: 1px solid hsl(0, 0%, 90%);
}
.image img {
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.image img:hover {
    transform: scale(1.2);
    filter:opacity(.5);
}

.bg-cover {
    background-size: cover;
}

.bg-center {
    background-position: center center;
}
