/* Navigation Styles */

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    
    padding: 0rem 1rem;
    background-color: var(--muteColor);
    color: white;
}
.nav {
    list-style: none;
    padding: .5rem 1rem;
    display: flex;
    /* gap: 1rem; */
    
}
.nav li {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 9%;
    /* transition: background-color 0.3s ease, color 0.3s ease; */
}
.nav li:hover {
    /* background-color: var(--preTextColor); */
    color: white;
    outline: 2px solid blue;
}

.app-header-logo {
    font-weight: 700;
    margin: 0;
    max-width: 100%;
    word-spacing: .2em;
    text-transform: uppercase;
    text-shadow: 1px 1px hsla(0 0% 0% / .08);
    overflow: hidden;
    white-space: nowrap;
    color: blue;
    align-items: center;
    flex: 1; 
}

.app-header-logo-emphasis {
    margin-right: .2em;
    color: var(--accentColor);
}


.app-header-links a {
    margin-left: 1.25em;
    color: var(--textColor);

}


label.btn{
    display: none;
}


#check{
    display: none;
}


@media (max-width:650px){
     ul.nav{
        display: block;
        position: fixed;
        top: -2em;
        left: -200%;
        width: 100%;
        min-width: 400px;
        padding: .5rem 1rem;
        height: 100%;
        background: #c6deec;

        z-index: 12;
        transition: all 0.4s ease;
    }

    ul.nav a{
        display: block;

        width: 100%;
        padding: .5rem 1rem;
        box-shadow: none;
        text-align: center;
    }

    ul.nav a:hover::before{
        box-shadow: none;
    }

    .app-header {
        padding: 2rem 1rem;
    }

    label.bars{
        display: block;
    }

    label.btn{
        color: #31344b;
        font-size: 18px;
        cursor: pointer;
        border-width: 0;
       
    }

    #check:checked~label.bars{
        display: none;
    }
 
    #check:checked~ul label.cancel{
        display: block;
    }

    #check:checked~ul{
        left: 0;
    } 

} 