/* navigation */

/* #navigation {
    background-color: azure;
} */

.nav {
    list-style: none;
    margin: 0 0 1em;
    padding: 0;
    padding-left: 1em;
    min-width: 16em;
}

.app-nav-header--title {
    color: hsl(0, 0%, 90%);
}

.nav a {
    color: hsl(0, 0%, 90%);
    /* text-decoration: none; */
}

.nav a:hover {
    color: var(--accentCollor);
}